* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("pexels-veeterzy-114979.jpg");
    background-repeat: no-repeat;
    background-color: bisque;
    background-position: center;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
  } 
.pic {
    width: 100%;
}
  /* Cha    nge background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
  } 
  .topnav {
    /* overflow: hidden; */
    background-color: #333;
    /* position: center; Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 80%; /* Full width */
    margin-bottom: 3em;
    margin-top: 3em;
    text-align: right;
  }

 .firstsection {

     background-color: blueviolet;
     background-size: cover; 
     text-align: justify;
     max-width: 500;
     height: 200px;
     padding-left: 20px;
     margin: 30px;
     text-decoration-color: #ddd;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* max-width: 90%; */
    /* margin: auto; */
 }  

h1#heading {
    background-position: center;
    text-align: justify;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;

}
h2#about{
    text-align: center;
    
}
.list-of-ideas input {
    width: calc(100%/4);
    margin: 0 2% 0 0.5%;
}
.list-of-ideas input::placeholder {
    padding-left: 5px;
}

h1#view{
    text-align: left;
    padding-left: 500px;
}
h2 {
    text-align: center;
}

.list-of-ideas label {
    font-weight: bold;
}

.one {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    color: black;
    /* gap: 2px; */
    /* justify-content: space-evenly; */
}

.selected{
    display: flex;
    flex-wrap: wrap;
    color: #000;

}

 .card {
    box-shadow: inset;
    max-width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    text-align: center;

 }

 .wrapper{
    display: flex;
 }

/* .wifi {
    color: black;
    font-size: 30px;
    margin-left: 5em;
} */

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
}

.button:hover {
    opacity: 0.7;
  }

.brief {
    color: black;
    font-size: 19px;
    margin-right: 40em;
    margin-left: 5em;

}

  .logo {
    text-align: left;
    position: right ;
    padding: 20px;
    margin: 15px;
    /* width: 10px; */
  }

  .logo img{
    width: 300px;
    border-radius: 15px;
  }

.image_cont {
    text-align: right;
}

header {
    background-color: rgb(104, 5, 54);

    margin-top: 5em;
    margin-left: 2em;
    margin-right: 2em; 
}
.two {
    background-color: bisque;
}

 .three { 
     background-color: burlywood; 
}

.four {
    background-color: black;
}

.five {
    background-color: cornsilk;
}   

.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 80vh; */
    cursor: pointer;
    /* flex: 0.2; */
    margin: 8px;
    /* position: relative; */
    transition: all 0.7s ease-out;
    
}

 /* .section.active {
    flex: 3;
  } */
  .header h4{
    padding: 0 20px;
    text-decoration: underline;
  }
  .list-of-ideas {

    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
.ideas h3, .show {
    padding: 0 20px;
}

.show {
    color: rgb(104, 69, 69);
    font-weight: bold;
    font-size: 14px;
}
  .submit {
    border-radius: 7px;
    margin-right: 100px;
    background: rgb(31, 2, 49);
    box-shadow: rgb(243, 240, 240);
    color: #ddd;
    width: 100px;
    font-weight: bold;
  }
  #enter_idea{
    height: 35px;
    line-height: 35px;
  }

  
